---
import { getEntry } from 'astro:content'

export type Props = {
	slug: string
}

const { slug } = Astro.props
const entry = await getEntry('products', slug)

if (entry === undefined) throw new Error(`No product for ${slug}`)
---

<div
	class="ring-1 ring-white/[0.15] bg-[radial-gradient(145.05%_100%_at_50%_0%,#3f1c1c_0%,#280b0b_57.38%,#331414_88.16%)] p-6 border border-gray-600 rounded-xl grid justify-center"
>
	<h3 class="text-xl font-semibold">{entry.data.title}</h3>
	<p class="text-6xl font-display mt-4">{entry.data.price}€</p>
	<ul class="mt-4 space-y-4">
		{
			entry.data.features.map((el) => (
				<li class="flex items-center gap-0.5 text-lg">
					<svg viewBox="0 0 32 32" fill="none" class="h-8 w-8 flex-none">
						<path
							d="M11.375 16.626a1 1 0 0 0-1.414 1.414l1.414-1.414Zm9.844-3.876a1 1 0 1 0-1.324-1.5l1.324 1.5Zm-6.754 8.38-.707.707a1 1 0 0 0 1.654-.385l-.947-.322Zm.947.322a20.359 20.359 0 0 1 5.807-8.702l-1.324-1.5a22.359 22.359 0 0 0-6.377 9.558l1.894.644ZM9.96 18.04l3.797 3.797 1.414-1.414-3.797-3.797-1.414 1.414Z"
							class="fill-white"
						/>
					</svg>
					{el}
				</li>
			))
		}
	</ul>
	<a
		href={entry.data.url}
		class="mt-6 text-center text-lg px-4 bg-gray-950 py-2 text-white rounded-full w-full flex items-center justify-center h-12 hover:bg-gray-900 transition-colors border-white/30 border"
		>Acheter</a
	>
</div>
